* {
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-image: url("https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074136__340.jpg");
    background-repeat: repeat;
}
 
 header {
    padding: 60px;
    text-align: center;
    position: sticky;
    width: 100%;
    background-color: red;
    color: white;
    top: 0;
    padding: .8em 0 0.8em 1.5em;
    z-index: 1;
    max-height: 132.41px;
    }

.logo1 {
    float: left;
}

 #naslov {
    color: white;
    text-shadow: 5px 5px 8px #1c3690;
    font-family: Verdana, sans-serif;
 }

 span {
    font-size: 1.3em;
 }

 nav {  
    display: flex;
    position: sticky;
    top: 132.41px;
    width: 100%;
    z-index: 1;
 }

 .navbar {
    background-color: #880d00;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
}

#poc {
    background-color: red;
}

#poc:hover {
    background-color: #ce993e;
    color: white;
}

.dropdown .dropbtn {
    font-size: 14px;    
    border: none;
    outline: none;
    color: white;
    padding: 7px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ce993e;
    font-weight: 600;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    height: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: scroll;
}

.dropdown-content a {
    font-size: 12px;
    float: none;
    color: black;
    font-weight: 400;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: black;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #f9f5ea;
    float: left;
}

section {
    justify-content: flex-start;
    display: flex;
    flex: 1 1 100%;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 3px solid #1c3690;
    }


#p1 {
    float: left;
    margin-right: 20px;
}

#p2 {
    float: right;
    margin-left: 20px;
}

#p3 {
    float: left;
    margin-right: 20px;
}

#p4 {
    float: right;
    margin-left: 20px;
}

#p1,#p2,#p3,#p4 {
    z-index: 0;
}

p.prica {
    text-align: justify;
    border-top: 2px dashed #1c3690;
    font-family: Verdana, Times, sans-serif;
}

.sl:hover {
    opacity: 0.7;
}

aside {
    justify-content: flex-end;
    width: 100%;
}

h4 {
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 3px 3px 5px #1c3690;
    font-family: Verdana, sans-serif;

}
.b {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

section, aside {
    display: inline-block;
}

footer {
    text-decoration: none;
    background-color: #880d00;
    width: 100%;
    position: sticky;
    bottom: 0;
    color: white;
    clear: both;
}


.pro, .pro1 {
    display: inline-block;
    padding-left: 30px;
    font-size: .8em;
}

span.karte {
    color: #1c3690;
    font-size: .8em;
}

@media only screen and (max-width: 600px) {
    nav {flex-direction: column;}
    main {flex-direction: column;
          margin-top: 252.41px;
          position: relative;}
    header, nav {position: absolute;}
    footer {position: relative;
            margin-top: 2703.2px;}
    section {border-right: none;}
}
@media only screen and (max-width: 800px) {
    main {flex-direction: column;}
    section {border-right: none;}
}
